/* 
============== added CSS by Seeung Kang ==============
  - USED FOR MARKDWON LIVE EDIT
  - DESIGN REQUIRES CHANGE
======================================================
 */

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  text-size-adjust: 100%;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  -webkit-touch-callout: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}

:focus {
  outline: none;
}

:after,
:before {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}


.editor a {
  color: inherit;
}

.editor blockquote,
h1,
h2,
h3,
ol,
p,
pre,
hr,
ul {
  margin: 1rem 0;
}

.editor blockquote:first-child,
h1:first-child,
h2:first-child,
h3:first-child,
ol:first-child,
p:first-child,
pre:first-child,
ul:first-child {
  margin-top: 0;
}

.editor blockquote:last-child,
h1:last-child,
h2:last-child,
h3:last-child,
ol:last-child,
p:last-child,
pre:last-child,
ul:last-child {
  margin-bottom: 0;
}

.editor h1,
h2,
h3 {
  line-height: 1.3;
}

.editor .button {
  font-weight: 700;
  display: -webkit-inline-box;
  display: inline-flex;
  background: transparent;
  border: 0;
  color: #000;
  padding: 0.2rem 0.5rem;
  margin-right: 0.2rem;
  border-radius: 3px;
  cursor: pointer;
  background-color: rgba(0,0,0,.1);
}

.editor .button:hover {
  background-color: rgba(0,0,0,.15);
}

.editor .message {
  background-color: rgba(0,0,0,.05);
  color: rgba(0,0,0,.7);
  padding: 1rem;
  border-radius: 6px;
  margin-bottom: 1.5rem;
  font-style: italic;
}

.editor {
  position: relative;
  max-width: 50rem;
  margin: 0 auto 5rem;
}

.editor__content {
  overflow-wrap: break-word;
  word-wrap: break-word;
  word-break: break-word;
}

.editor__content * {
  caret-color: currentColor;
}

.editor__content pre code {
  display: block;
  /* light */
  background-color: #f5f5f5;
  /* dark */
  /* background-color: #222; */
  font-size: 1.0rem;
}

.editor__content ol,
.editor__content ul {
  padding-left: 1rem;
}

.editor__content li > ol,
.editor__content li > p,
.editor__content li > ul {
  margin: 0;
}

.editor__content a {
  color: inherit;
}

.editor__content blockquote {
  border-left: 3px solid rgba(0,0,0,.1);
  color: rgba(0,0,0,.8);
  padding-left: 0.8rem;
  font-style: italic;
}

.editor__content blockquote p {
  margin: 0;
}

.editor__content img {
  max-width: 100%;
  border-radius: 3px;
}

.editor__content table {
  border-collapse: collapse;
  table-layout: fixed;
  width: 100%;
  margin: 0;
  overflow: hidden;
}

.editor__content table td,
.editor__content table th {
  min-width: 1em;
  border: 2px solid #ddd;
  padding: 3px 5px;
  vertical-align: top;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  position: relative;
}

.editor__content table td > *,
.editor__content table th > * {
  margin-bottom: 0;
}

.editor__content table th {
  font-weight: 700;
  text-align: left;
}

.editor__content table .selectedCell:after {
  z-index: 2;
  position: absolute;
  content: "";
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: rgba(200,200,255,.4);
  pointer-events: none;
}

.editor__content table .column-resize-handle {
  position: absolute;
  right: -2px;
  top: 0;
  bottom: 0;
  width: 4px;
  z-index: 20;
  background-color: #adf;
  pointer-events: none;
}

.editor__content .tableWrapper {
  margin: 1em 0;
  overflow-x: auto;
}

.editor__content .resize-cursor {
  cursor: ew-resize;
  cursor: col-resize;
}

.editor .menubar {
  margin-bottom: 1rem;
  -webkit-transition: visibility 0.2s 0.4s,opacity 0.2s 0.4s;
  transition: visibility 0.2s 0.4s,opacity 0.2s 0.4s;
}

.editor .menubar.is-hidden {
  visibility: hidden;
  opacity: 0;
}

.editor .menubar.is-focused {
  visibility: visible;
  opacity: 1;
  -webkit-transition: visibility 0.2s,opacity 0.2s;
  transition: visibility 0.2s,opacity 0.2s;
}

.editor .menubar__button {
  font-weight: 700;
  display: -webkit-inline-box;
  display: inline-flex;
  background: transparent;
  border: 0;
  color: #000;
  padding: 0.2rem 0.5rem;
  margin-right: 0.2rem;
  border-radius: 3px;
  cursor: pointer;
}

.editor .menubar__button:hover {
  background-color: rgba(0,0,0,.05);
}

.editor .menubar__button.is-active {
  background-color: rgba(0,0,0,.1);
}

.editor .menubar span.menubar__button {
  font-size: 13.3333px;
}

.editor .menububble {
  position: absolute;
  display: -webkit-box;
  display: flex;
  z-index: 20;
  background: #000;
  border-radius: 5px;
  padding: 0.3rem;
  margin-bottom: 0.5rem;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  visibility: hidden;
  opacity: 0;
  -webkit-transition: opacity 0.2s,visibility 0.2s;
  transition: opacity 0.2s,visibility 0.2s;
}

.editor .menububble.is-active {
  opacity: 1;
  visibility: visible;
}

.editor .menububble__button {
  display: -webkit-inline-box;
  display: inline-flex;
  background: transparent;
  border: 0;
  color: #fff;
  padding: 0.2rem 0.5rem;
  margin-right: 0.2rem;
  border-radius: 3px;
  cursor: pointer;
}

.editor .menububble__button:last-child {
  margin-right: 0;
}

.editor .menububble__button:hover {
  background-color: hsla(0,0%,100%,.1);
}

.editor .menububble__button.is-active {
  background-color: hsla(0,0%,100%,.2);
}

.editor .menububble__form {
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
}

.editor .menububble__input {
  font: inherit;
  border: none;
  background: transparent;
  color: #fff;
}

.editor .ProseMirror {
  position: relative;
}

.editor .ProseMirror {
  word-wrap: break-word;
  white-space: pre-wrap;
  -webkit-font-variant-ligatures: none;
  font-variant-ligatures: none;
}

.editor .ProseMirror pre {
  white-space: pre-wrap;
}

.editor .ProseMirror-gapcursor {
  display: none;
  pointer-events: none;
  position: absolute;
}

.editor .ProseMirror-gapcursor:after {
  content: "";
  display: block;
  position: absolute;
  top: -2px;
  width: 20px;
  border-top: 1px solid black;
  animation: ProseMirror-cursor-blink 1.1s steps(2, start) infinite;
}

@keyframes ProseMirror-cursor-blink {
  to {
      visibility: hidden;
  }
}

.editor .ProseMirror-hideselection *::selection {
  background: transparent;
}

.editor .ProseMirror-hideselection *::-moz-selection {
  background: transparent;
}

.editor .ProseMirror-hideselection * {
  caret-color: transparent;
}

.editor .ProseMirror-focused .ProseMirror-gapcursor {
  display: block;
}

/* .color1 {
  color: red;
}

.color2 {
  color: blue;
}

.color3 {
  color: green;
}

.color4 {
  color: yellow;
}

.color5 {
  color: orange;
} */